.home-page {
    /* background-color: #B2F09F; */
    /* height: 100vh; */
}

.header-container {
    background-color: rgb(60, 184, 11);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header--text {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
}

.header--logout {
    border: 1px solid;
    border-radius: 2px;
    font-size: 2rem;
    font-weight: 500;
    width: 10rem;
    text-align: center;
    padding-bottom: .5rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
    transition: all .4s;
}

.header--logout:hover {
    background-color: #5df32f;

}

.welcome-text {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.fruit-container {
    margin: 4rem auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.basket-stack-container {
    border-radius: 4px;
    margin: 5rem auto;

    display: flex;
    justify-content: center;
}

.error-message {
    margin: 3rem;
    text-align: center;
    height: 4rem;
    color: red;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    grid-gap: 1rem;
}

.error-star {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    border: 1px solid #5df32f;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}

.display-error {
    display: block;
}

.close-error {
    opacity: 0;
    height: 4rem;
}