.basket-stack {
    border-radius: 3px;
    width: 30rem;
    height: min-content;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    text-transform: capitalize;
}

.basket-apple {
    background-color: red;
    height: 3rem;

    border-bottom: 1px solid #333;
}

.basket-orange {
    background-color: #F76300;
    height: 3rem;
    border-bottom: 1px solid #333;
}

.basket-grape {
    background-color: #6A166E;
    height: 3rem;
    border-bottom: 1px solid #333;
}